.dropdown-item a{
    text-decoration: none !important;
}

.menu-tab{
    background: #fff !important;
}

.menu-tab.active{
    background: #e9e9e9 !important;
    border-radius: 1rem;
}




.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.menu-font-title {
    font-family: IRANSans !important;
    font-size: 14px;
    font-weight: 700;
    color: #424750;
}

.custom-logo {
    background: url("../img/logo.svg") no-repeat 100%;
    background-size: auto 100%;
    display: block;
    height: 40px;
}

.custom-search .form-control::placeholder {
    opacity: 0.5;
}

.custom-search-icon i {
    vertical-align: -4px;
    color: #495057;
}

/*
.custom-search-icon{
background-color: #c00000;
}
*/

.sign-login {
    z-index: 999 !important;
    position: relative !important;
    float: right;
}

.navbar {
    z-index: 3 !important;
}

.btn-outline-black {
    color: #000000;
    background-color: transparent;
    border: 1px solid black;
}

.login-panel {
    vertical-align: -8px !important;
    cursor: pointer !important;
}

.custom-register {
    font-size: 12px;
}

.custom-acount {
    background-color: #00BFD6 !important;
    color: #ffffff !important;;
}

.custom-profile-item {
    color: #6F6F6F;
    font-size: 13px;

}

.custom-register a {
    border-bottom: dashed 1px #00BFD6 !important;
    color: #00BFD6 !important;
}

.custom-menu-panel {
    top: 4px !important;
    right: -100px !important;

}




.custom-menu-panel:before, .custom-menu-panel2:before {
    content: "";
    position: absolute;
    height: 3px;
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0px;
    background-color: #c00000;

}

.custom-menu-panel:after, custom-menu-panel2:after {
    content: "";
    position: absolute;
    top: -7px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #c00000;

}


.custom-menu-panel2 {
    top: 4px !important;
    right: -80px !important;

}





@media only screen and (max-width: 992px) {

    .custom-botton span {
        font-size: 12px !important;
    }

    .custom-basket .btn-outline-info {
        font-size: 10px !important;
        vertical-align: -6px !important;
    }

}

.custom-basket {
    text-align: left !important;
}

.custom-basket .btn-outline-info {
    font-size: 14px !important;
    vertical-align: -6px !important;
}

.custom-botton {
    font-size: 13px !important;

}

.custom-header-mobile {
    text-align: left !important;
    float: left !important;
}

/*menu css*/

.custom-sub-menu-digital-1 li a {
    background-color: #fff;
    font-size: 13px;
    font-weight: 500;
    color: #5a6268 !important;

}

.custom-sub-menu-digital-1 span {
    color: #000000 !important;
    font-size: 13px !important;
}

.custom-sub-menu-digital-1 li {
    vertical-align: -1px !important;

}

.custom-sub-menu-digital-1 .list-group-item {
    padding: 6px;

}

.all-digital {
    font-size: 15px;
    color: #000 !important;
}

.custom-menu-divider {
    margin-top: 10px !important;
    color: white !important;
}

#custom-main-dropdown-menu {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    right: 0px;
}

/* cccccccccccccc */
#slider-img img {
    /* width: 750px;
     height: 400px;*/
    width: 100%;

}

#slider-img a {
    display: none;
}

.custom-slider-nav-box {
    position: absolute;
    bottom: 0px;
    opacity: 0.6;
    width: 100%;
    background-color: #000000;
}

.slider-nav-item {
    cursor: pointer;
    border-left: 1px solid #ffffff;
    position: relative;
}

.slider-nav-item.active {
    color: #000 !important;
    background-color: #fff !important;

}

.slider-nav-item.active::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12.5px 13px 12.5px;
    border-color: transparent transparent #ffffff transparent;
    top: -12px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

.baner img {
    width: 100%;

}

.slider-icon-right {
    top: 45%;
    right: 20px;
    cursor: pointer;
    color: #eee;
    background-color: black;
    padding: 4px;
    opacity: 0.3;
}

.slider-icon-left {
    top: 45%;
    left: 20px;
    cursor: pointer;
    color: #eee;
    background-color: black;
    padding: 4px;
    opacity: 0.3;
}

#slider2 {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

.slider_nav_item2 {
    font-size: 13px;
    cursor: pointer;
}

.slide2-image .image {
    max-width: 260px !important;
    width: 100% !important;
    overflow: hidden;
}

.final-price {
    width: 130px;
    background-color: #c00000;
    color: #fff;
    border: solid 1px #ffffff;
    position: relative;
    font-size: 12px;

}

.final-price::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 30px 15px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    right: -17px;
    top: 5px;
    z-index: 5;
}

.old-price {
    width: 100px;
    background-color: gray;
    color: #fff;
    border: solid 1px #ffffff;
    position: relative;
    z-index: 6;
    font-size: 12px;

}

.old-price::after {
    content: " ";
    position: absolute;
    width: 84%;
    top: 19px;
    right: 5px;
    height: 1px;
    border-bottom: 2px solid #000;
    transform: rotate(-19deg);
    z-index: 9999999999;

}

.old-price::before {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 30px 15px 0;
    border-color: transparent #808080 transparent transparent;
    position: absolute;
    left: -11px;
    top: 5px;
    z-index: 99;
}

.flipTimer,
.flipTimer div {

    direction: ltr !important;

}

.flipTimer {
    height: 137px !important;
    font-family: 'Roboto', sans-serif !important;
    transform: scale(0.3);
    width: 750PX;
}

.height100 {
    height: 100% !important;

}

.slider2-nav slider_nav_item2 {
    padding: 13px !important;
}

.slide2_finish_offer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100% !important;
    color: #ffffff;
    font-size: 30px;
    background-color: #000000;
    opacity: 0.4;
    line-height: 235px;
    text-align: center;
    display: none;
    z-index: 9999;

}

.slider_nav_item2 {
    cursor: pointer;
    border-left: 1px solid #ffffff;
    position: relative;
}

.slider_nav_item2.active2 {
    color: #ffffff !important;
    background-color: #c00000 !important;

}

.slider_nav_item2.active2::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 0 26px 26px;
    border-color: transparent transparent transparent #c00000;
    top: 0px;
    left: 0px;
    right: -26px;

    z-index: 0;
}

.slider_scroll img {
    width: 220px;

}

.carusel {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

.next-slider_scroll {
    top: 50%;
    right: 30px;
    font-size: 2rem;
}

.prev-slider_scroll {
    top: 50%;
    left: 30px;
    font-size: 2rem;
}

.box_jump_top {
    background-color: #f5f5f5;
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #cfd8dc;
    display: block;
}

.jump_top i {
    font-size: 35px;
    width: 36px;
    height: 36px;
    background: hsla(0, 0%, 75%, .41);
    border-radius: 50%;
    text-align: center;
    color: #fff;
    vertical-align: -12px;
    margin-left: 5px;
}

.jump_top span {
    font-size: 17px;
    color: black;
    text-decoration: none !important;
}

.jump_top span {
    font-size: 17px;
    color: black;
}

.box_jump_top a {
    text-decoration: none !important;

}

/*start slider p*/
.panel-title-custom {
    border: 1px solid #efefef;
}

.card-header-custom {
    background: #fff;
}

.card-header-custom p {
    padding-top: 25px !important;
    border-bottom: 1px solid #f13712;
    display: inline;
    font-size: 17px;
    font-weight: bold;
    padding: 3px;
}

.panel-custom {
    border-bottom: 0 !important;
    margin-bottom: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .0);
}

.panel-body-custom {
    padding: 0
}

.slider .card {
    border: 0 !important;
}

.slider .card-body {
    padding: 10px;
}

.slider .item:hover {
    box-shadow: 0 1rem 3rem #edf6ee !important;
    border: 1px solid #e4eef1;
    border-radius: 2px;
    transition: .1s;

}

.panel-footer-custom {
    border-top: 0px;
    padding: 1px 10px !important;
    background: transparent !important;
}

.panel-footer-custom h4 {
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #4a5f73;
}

.panel-footer-custom p {
    color: red;
    font-size: 15px;
    text-align: center;
}

.owl-dots {
    display: none;
}

.owl-nav {
    position: relative;
    top: -10px;
}

.owl-nav .owl-prev {
    position: absolute;
    top: -150px;
    right: -10px;
}

.owl-nav .owl-next, .owl-nav .owl-prev {
    position: absolute;
    top: -120px;
    left: -10px;
    background: hsla(0, 0%, 100%, .8);
    border-radius: 50%;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
    width: 69px;
    height: 69px;
    margin-top: -35px;

}

.owl-theme .owl-nav [class*=owl-] {
    color: #000;
    font-size: 35px;
    background: rgba(158, 172, 181, 0.95);
    border-radius: 100%;
}

.owl-nav .owl-prev:before {
    font-family: FontAwesome;
    position: relative;
    top: 30px;
    color: #fff;
    padding: 3px;
}

.owl-nav .owl-next:before {
    font-family: FontAwesome;
    position: relative;
    top: 30px;
    color: #fff;
    padding: 3px;
}

.owl-nav button {
    background: #fff !important;
    outline: none !important;
    border: 0 !important;
    opacity: 0.8 !important;
}

.owl-nav button:hover {
    color: black !important;
}

.border_bottom {
    border-bottom: 1px solid #f2f2f2
}

.border_bottom1 {
    border-bottom: 1px solid #b0bec5
}

.bg_footer {
    background: #eceff1;
}

.box_footer_links p a {
    color: #4a5f73;
    text-decoration: none;
    font-size: 16px;
}

.box_footer_links ul {
    margin: 0;
    padding: 0;
}

.box_footer_links ul li {
    list-style: none;
}

.box_footer_links ul li a {
    color: #4b4b4b;
    font-size: 14px;
    line-height: 30px;
}

.footer_form p {
    font-size: 14px;
    color: #5d5959;
}

.social_instagram {
    background-image: linear-gradient(266deg, #4e60d3, #913baf 35%, #d52d88 68%, #f26d4f);
    width: 159px;
    height: 45px;
    border-radius: 9px;
    text-align: center !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .11);
    color: #fff;
    font-weight: 700;
    display: inline-flex;
    font-size: 12px;
    line-height: 45px;
}

.social_instagram a {
    color: #fff;
}

.footer_box_right {
    color: #5d5959;
}

.footer_box_right ul li a {
    color: #4a5f73;
}

.footer_box_right li:nth-of-type(2) {
    border-right: 1px solid #979797;
    padding-right: 10px;
}

footer {
    background: #d7dee0;
}

.footer_digi span {
    font-size: 11px;
    line-height: 2.17;
    font-weight: 300;
    color: #535353;
}

.copyRight {
    font-size: 13px;
    color: #4a4a4a;
}

.custom-sidebar {
    color: #E2E2E2;
}

.grey {
    background-color: #343a40 !important;

}

.custom-ul, .custom-li {
    border: 0px !important;
}

.custom-ul-type, .custom-li-type {
    list-style-type: none;
}

.custom-ul-type span, i {
    color: #000000;
}

/* roozbeh check b0x*/

.sepratore {
    height: 0.3pt !important;
    background-color: #1b1e21 !important;
    margin: auto;
}

.ul-filter {
    list-style-type: none;
}

.list-group-item {
    border: 0px !important;
}

.filer_cat_ul li {
    padding: 0.3rem 1rem;
    width: max-content;
}

/*   category - check box */

.check_div span {
    position: absolute;
    right: 30px;
    color: #000000;
    height: 20px;
    width: 7px;
}

.check_div span:nth-of-type(2) {
    position: absolute;
    right: 40px;
    color: #000000;
}

.check_input {
    position: absolute;
    right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 99;
    opacity: 0;
}

.check_label {
    position: absolute;
    right: 5px;
    width: 20px;
    height: 19px;
    border: solid 1px #5a6268;
    border-radius: 5px;
    cursor: pointer;
}

.check_label.checked {

    background-image: url("/public/img/check-square-solid2.svg") !important;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 20px;
    height: 19px;
    cursor: pointer;
    border: 1px solid #1fa4b3;
    border-radius: 5px;
}

/*  End category - check box */

.filer_cat_ul li {
    margin-bottom: 20px !important;
}

.filer_cat_ul li span {
    display: inline-block;
    margin-righ: 20px !important;
}

.show-visible {
    z-index: 999;
}

.filer_cat_ul .header_filter {
    width: max-content;
}

.filer_cat_ul li:first-child {
    margin: 0px !important;
}

.page_navigation {
    background-color: #ecf0f1 !important;

}

.page_navigation i {
    color: #000000 !important;
    font-size: 0.9rem;
}

.page_navigation li {
    color: #95a5a6 !important;
    font-size: 0.9rem;
}

.filter_cat span, i {
    color: #636e72;
}

.filter_cat i {
    margin-top: 3px !important;
    float: left;
}

.filter_cat .filter_cat_header {
    padding: 0px 5px 0px 5px !important;
    border: solid 1px #000000;
}

.check_div2 span {
    position: absolute;
    right: 30px !important;
    color: #000000;
    display: inline-block !important;
    width: max-content;
}

.filer_cat_ul2 li {
    margin-bottom: 20px !important;
    padding: 0.3rem 1rem;
}

.filer_cat_color_li {
    background-color: #eeeeee !important;
}

.filer_cat_ul2 {
    width: -moz-available !important;
    background-color: #FFFFFF;

}

.filter_height {
    max-height: 200px;
    overflow-y: auto;
    Overflow-x: hidden;
}

.filer_selected_items {
    padding: 0px 5px 0px 5px !important;

}

.filer_selected {
    margin: auto;
}

.filer_selected_items span {
    color: #000000;
    font-size: 14px;
}

.filer_selected_items i {
    margin-right: 20px;
    font-size: 10px;
    padding-top: 5px;
    color: #000000;
}

.filer_selected_items i {
    cursor: pointer;
}

.filter_list, .filter_option {
    cursor: pointer;
}

.filter_list, .filter_option {
    z-index: 99999 !important;
    float: right !important;

    display: block;

}

.filter_exist {
    position: relative;
    top: 5px;
    cursor: pointer;
}

.bnt_back {
    background: url("/public/img/btnchecked.png") no-repeat scroll 0 0 !important;
    /*background: url("../img/btnchecked.png") no-repeat scroll 0 0  ;*/
    width: 40px;
    height: 21px;
    display: inline-block;
}

.filter_bnt {
    background: url("/public/img/yesno.png") no-repeat scroll 0px -21px;
    width: 30px;
    height: 21px;
    display: inline-block;
    position: absolute;
    top: -4.5px;
    left: -2px;
}

.filter_exist.active .bnt_back {
    background: url("/public/img/btnchecked.png") no-repeat scroll -40px 0px !important;
    /*width: 40px;
    height: 21px;
    display: inline-block;*/
}

/*start product*/
.box_product {
    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .11);
    border: 1px solid #e4e4e4;
}

.gallery_options ul li a {
    color: #6d706f;
    background: white;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid #cacaca;
}

.gallery_options ul li a:hover {
    border: 1px solid #626766;
}

.gallery_options ul li {
    margin-top: 8px;
}

.gallery_options ul li a i {
    padding: 5px;
    vertical-align: -7px;
}

.box_list_img img {
    width: 55px;
    height: 45px;
}

.box_list_img i {
    font-size: 45px;
    vertical-align: -18px;
    border-radius: 8px;
    background-color: #fefefe;
    border: 1px solid #e2e2e2;
    color: #8c8a88;
}

.product-info {
    background: #fdfdfd;
}

.product-info .product-title {
    font-size: 15px;
    line-height: 1.467;
    color: #494944;
    font-weight: 400;
}

.product-info .product-title span {
    color: #b5b5b5;
    font-size: 12px;
    line-height: 1.833;
    display: block;
    margin-top: 5px;
}

.product-info .beenhere {
    color: #ff637d;
    font-size: 30px;
}

.box_beenhere p {
    font-size: 12px;
}

.product-info .product_directory ul li {
    font-size: 13px;
}

.product-info .product_directory ul li a {
    border-bottom: 1px dashed #1ca2bd;
}

.product-info .box_color .box_check1 {
    font-size: 15px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #ccc;
    content: "";
}

.product-info .box_color {
    position: absolute;
}

.product-info .box_color .check1 {
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ccc;
    content: "";
    top: 6px;
    left: -6px;
}

.box_color .title {
    vertical-align: 10px;
    color: #6f6f6f;
    font-size: 15px;
}

.product-info .box_color .check2 {
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 5px;
    background: #000;
    border: 1px solid #ccc;
    content: "";
    top: 6px;
    left: -6px;
}

.box_color a {
    display: inline;
    color: #6f6f6f;
}

.check1 span, .check2 span {
    position: absolute;
    left: -45px;
    top: -4px;
}

.box_color a:hover .box_check1 {
    border: 1px solid #00bff6;
}

.product_guarantee span {
    color: #6f6f6f;
    font-size: 14px;
}

.product_guarantee i {
    vertical-align: -7px;
    color: #c1c1c1;
}

.product_guarantee span a {
    border-bottom: 1px dashed #1ca2bd;
}

.product_guarantee .store {
    color: #c1c1c1;
}

.seller_rate {
    padding-right: 40px;
    font-size: 12px;
}

.box_price {
    color: #fb3449;
    font-size: 30px;
}

.btn_custom2 {
    padding: 16px 18px 16px 18px;
    border-radius: 8px;
    background: #00bfd6;
    border: 1px solid #41a7b4;
    color: #fff;
}

.btn_custom2:hover {
    color: #fff;
}

.btn_custom2 i {
    vertical-align: -7px;
    margin-left: 10px;
}

.product_params i {
    color: #c1c1c1;
    font-size: 45px;
    vertical-align: -15px;
}

.btn-white {
    color: #009ec9 !important;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #f5f5f5;
    padding: 10px 10px 19px 10px;
    font-size: 13px;
}

.product_params .box2 span {
    color: #55565a;
    font-weight: bolder;
    font-size: 14px;
}

.product_params .box2 ul li {
    font-size: 13px;
    padding-top: 7px;
    color: #55565a;
}

.product_params .box2 ul li a {
    border-bottom: 1px dashed #1ca2bd;
}

.product_params .box2 ul {
    list-style: none;
    padding: 0;
}

.product_params .box2 ul li:before {
    color: #ccc;
    font-weight: bolder;
    display: inline-block;
    width: 1em;
    content: "\2022";
    font-size: 16px;
}

.unfair-price {
    color: #7c7c7c;
    font-size: 14px;
}

.unfair-price a {
    border-bottom: 1px dashed #1ca2bd;
}

.box_offer span {
    color: #1ca2bd;
    font-size: 14px;
    border-bottom: 1px dashed #1ca2bd;
}

.box_offer i {
    vertical-align: -7px;
    padding-left: 5px;
}

.product_feature {
    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .11);
    background: #fff;
    border: 1px solid #e8e8e8;
    padding: 5px 25px;
}

.product_feature img {
    display: inline;
    float: right;
    width: 45px;
    padding-left: 5px;
}

.product_feature .box {
    margin-top: 20px;
}

.product_feature ul li {
    font-size: 12px;
    margin-left: 5px;
}

.product_feature a {
    color: #4a5f73;
}

.product_feature .pf_img {
    margin-top: -5px;
}

.title_suppliers span {
    font-size: 18px;
    color: #515151;
}

.title_suppliers i {
    font-size: 35px;
    vertical-align: -12px;
    color: #c1c1c1;
}

.table_link a {
    border-bottom: 1px dashed #1ca2bd;
}

.table_suppliers tr td span {
    font-size: 15px;
}

.table_suppliers tr td .span1 {
    color: #8c8c8c;
}

.table_suppliers tr td .span2 {
    color: #009ec9;
}

.table_suppliers i {
    vertical-align: -6px;
    color: slategrey;
}

.table_suppliers .offline_pin {
    color: #c1c1c1;
    vertical-align: -20px;
}

.table_suppliers .price {
    color: #76787a;
    font-size: 18px;
    vertical-align: -15px;
}

.table_suppliers .title_g {
    vertical-align: -13px;
}

.table_suppliers tr th {
    background: #5e98ae;
}

.btn_custom2:hover {
    background-color: #54dbfc;
}

@media (max-width: 650px) {
    .table-responsive_custom {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
}

.table_suppliers p {
    border-bottom: 1px dashed #1ca2bd;
    display: inline;
    margin: 0 auto;
}

.box-tabs ul li a {
    color: #6f6f6f;
}

.box-tabs ul li i {
    vertical-align: -8px;
    color: #ccc;
    padding: 3px;
}

.box-tabs .nav-tabs .nav-link {
    border: 0 solid transparent;
}

.box-tabs .nav-tabs .nav-link.active {
    border-top: 5px solid #00bfd6;
    border-radius: 0;
}

.box-content h4 {
    color: #6f6f6f;
}

.box-content span {
    color: #6f6f6f;
    font-size: 15px;
}

.box-content .box_list .title {
    color: #4d4d4d;
}

.box-content .box_list i {
    vertical-align: -2px;
    color: #00bfd6;
}

.block {
    display: block;
}

.box_params_list p {
    display: block;
    background: #fafafa;
    padding: 14px 18px 12px;
    font-size: 13px;
    line-height: 1.692;
    color: #4d4d4d;
    min-height: 47px;
    position: relative;
}

.border_right_custom1 {
    border-right: 3px solid #00bfd6;
}

.border_right_custom2 {
    border-right: 3px solid #fc6274;
}

.nav-tabs-custom {
    background: #F5F5F5;
}

.box_comment .bc1 {
    padding: 10px 33px 33px 60px;
}

.bc1 .row {
    background: #fcfcfc;
    border-radius: 5px;
}

.box_comment .progress_title, .box_comment .progress_title2 {
    font-size: 14px !important;
}

.box_comment .progress {
    height: 4px !important;
    margin-top: 10px;
}

.box_comment .progress-bar {
    background-color: #00bfd6;
}

.btn_custom3 {
    background: #7a7a7a;
    border-color: #7a7a7a;
    color: #fff;
}

.btn_custom3:hover {
    color: #fff;
}

.btn_custom3 i {
    vertical-align: -8px;
    margin-left: 10px;
}

.box_filter .bf1 i {
    vertical-align: -2px !important;
    color: #00bfd6;
}

.active_custom {
    color: #00bfd6 !important;
}

.box_users_comment {
    border-radius: 5px;
    background: #fcfcfc;
    border: 1px solid #f3f3f3;
    margin-bottom: 36px;
}

.box_users_comment .box_message_light {
    font-size: 13px;
    line-height: 2.23;
    background: #fdfff8;
    border: 1px solid #e2f0d5;
    border-radius: 3px;
    color: rgba(36, 90, 29, .98);
    padding: 7px 20px 7px 12px;
}

.box_message_light i {
    vertical-align: -7px;
    font-size: 19px;
}

.box_shopping span {
    font-size: 14px;
}

.box_shopping i {
    color: #c1c1c1;
    vertical-align: -9px;
}

.box_shopping a {
    font-size: 14px;
    border-bottom: 1px dashed #1ca2bd;
}

.box_message_dislike {
    padding: 7px 20px 7px 12px;
    font-size: 13px;
    line-height: 2.23;
    background: #fff8f9;
    border: 1px solid #ffbcc7;
    border-radius: 3px;
    color: #ff637d;
}

.box_message_dislike i {
    vertical-align: -7px;
    font-size: 19px;
}

.box_comment_header .span1 {
    font-size: 20px;
}

.box_comment_header .span2 {
    font-size: 13px;
    color: #adadad;
}

.evaluation-positive span {
    color: #00bfd6;
    font-size: 14px !important;
}

.evaluation-negative span {
    color: #ff637d;
    font-size: 14px !important;
}

.evaluation-negative ul li:before {
    color: #ff637d;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    content: "\2022";
    vertical-align: -5px;
    font-size: 19px;
}

.evaluation-negative, .evaluation-positive {
    font-size: 14px !important;
}

.box_text_comment {
    font-size: 14px;
    line-height: 1.71;
    color: #505050;
}

.comments_likes span {
    text-align: center;
    color: #777;
    font-size: 13px;
    line-height: 1.692;
}

.comments_likes .btn-like {
    border-radius: 8px;
    border: 1px solid #ededed;
    background: #fff;
    padding: 2px 13px;
    color: #8c8c8c;
    font-size: 12px;
    line-height: 1.692;
    margin-left: 20px;
}

.btn_custom3:hover {
    background: #7f8879;
}

.email_check a {
    border-bottom: 1px dashed #1ca2bd;
}

.email_check {
    font-size: 14px;
}

.email_check label {
    line-height: 25px;
}

.box_questions .bq1 i {
    font-size: 90px;
    color: #35ccde !important;
}

.box_questions .bq1 .span1 {
    color: #7a7a7a;
    font-size: 25px !important;
}

.box_questions .bq1 .span2 {
    color: #959595;
    font-size: 13px !important;
}

.box_questions .bq2::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 0 11px 11px;
    border-color: transparent transparent transparent #dbdbdb;
    left: 100%;
    top: 50px;
}

.box_questions .bq2 {
    position: relative;
    border: 1px solid #dbdbdb;
    background: #fcfcfc;
    padding: 19px 29px 50px;
    color: #4d4d4d;
    min-height: 240px;
}

.bq2 a {
    font-size: 13px !important;
}

.bq2 .date {
    color: #d3d3d3;
    font-size: 12px;
    margin-left: auto;
}

.box_questions .bq1 .highlight {
    color: #ffd188 !important;
}

.footer {
    font-size: 12px;
    line-height: 1.833;
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    right: 0;
    bottom: 25px;
    padding: 0 29px;
}

.filter_exist.active .filter_bnt {
    background: url("/public/img/yesno.png") no-repeat scroll 0px 0px !important;
    /*width: 30px;
    height: 21px;
    display: inline-block;
    position: absolute;
    top: -4.5px;
    left: -2px;*/
}

.slider {
    /* position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;*/
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.show-type span, i {
    font-size: 1rem;
}

.show-type i {
    font-size: 1.3rem;
}

.form-inline label {
    color: #636e72;
    font-size: 0.9rem;

}

.form-inline option {
    color: #636e72;
    font-size: 0.8rem;
}

.custom-card .card-body {
    direction: rtl !important;
    text-align: right !important;
    float: right;
}

.custom-badge-card {
    left: 3px;
    top: 10px;
    font-size: 13px;
    padding: 5px;

}

.custom-card-body a {
    font-size: 11pt;
}

.custom-card-body span:nth-child(1) {
    display: none !important;
}

.custom-card {
    direction: rtl !important;
    text-align: right !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.custom-footer-card {
    font-size: 13px !important;
    color: black;
    width: 100% !important;
    display: inline-flex;;
    position: relative;
}

.add-to-card i {
    position: absolute;
    left: 10px;
    top: -1px !important;
    cursor: pointer;
    font-size: 25px;
}

.custom-footer-card li span {
    color: #1e7e34;
    font-size: 1rem;
}

.card-footer ul li i {
    color: gray;
}

.custom-card img {
    width: 210px;
    margin: auto;
}

.gray-star {

    background: url(../img/gray-star.svg) repeat-x !important;
    /*
    background: url(../img/gray-star.svg) repeat-x !important;
    */
    width: 63px;
    height: 12px;
    border-radius: 0px !important;
    border: 0px !important;
    position: relative;
    /* position: relative;*/

}

.gold-star {
    background: url(../img/gold-star.svg) repeat-x !important;
    width: 30px;
    height: 12px;
    border-radius: 0px !important;
    border: 0px !important;
    position: absolute;
    left: 0px !important;
    top: 0px !important;

}

.custom-post-type {
    top: 10px;
    right: 3px;
    background-color: #00a6b2;
    padding: 5px;
    font-size: 13px;
}

.custom-badge-card {
    left: 3px;
    top: 10px;
    font-size: 13px;
    padding: 5px;

}

/*.custom-card img{
    width: 210px;
    margin: auto !important;

}*/

.custom-card-body ul .attribute {
    height: 15px;
    width: 15px;
    background-color: #555;
    display: inline-block;
    text-align: center;
    margin: auto;
}

.custom-card-body ul {

    display: block;
    text-align: center;
    margin: auto;
}

.custom-card-body span a {

    text-decoration: none;
    color: #5a6268;
}

/* roozbeh - sigle product page */

.single_product_ul li {
    margin-left: 60px !important;
}

.box_color ul {
    margin: 0px !important;
    padding: 0px !important;
}

/* single-product - check box */
.check_div3 span {

    margin-right: 5px;
    color: #000000;
    display: inline-block !important;
    width: max-content;
    font-size: 14px;
    color: #212529;
}

.check_input3 {
    position: absolute;
    right: -20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 99;
    opacity: 0;
}

.check_label3 {
    position: absolute;
    right: -20px;
    width: 20px;
    height: 20px;
    border: solid 1px #5a6268;
    border-radius: 5px;
    cursor: pointer;
}

.check_label3.checked {
    background-image: url("/public/img/check-square-solid2.svg") !important;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 20px;
    height: 19px;
    cursor: pointer;
    border: 1px solid #1fa4b3;
    border-radius: 5px;
}

.garanti {
    padding: 5px;
    cursor: pointer;

}

.garanti i {
    font-size: 18px !important;
}

.garanti_ul li {
    padding: 11px;
    font-size: 14px !important;
    border-top: 1px solid black !important;
}

.garanti_ul li.active {
    color: #c00000 !important;
    background-color: #eeeeee;
    display: block;
}

.garanti_ul li:hover {
    cursor: pointer;
    background-color: #e1e1e1;
}

.garanti_ul {
    display: none;
}

ul.select_color li {
    padding: 7px 25px 7px 25px;
}

ul.select_color li span.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 2px;
    cursor: pointer;

}

ul.select_color li span.circle.active::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    color: #FFFFFF;
    position: absolute;
    top: 1px;
    right: 4px;
    width: 20px;
    height: 20px;
    display: block;
    font-weight: 800 !important;
}

.description_product {
    height: 300px;
    overflow: hidden;
    float: right;
}

.description_product.active {
    height: auto !important;

}

.more {
    bottom: 20px;
    text-align: center;
    cursor: pointer;
}

.tab-content > .active {
    overflow: auto;
}

.footer {
    font-size: 12px;
    line-height: 1.833;
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    right: 0;
    bottom: 25px;
    padding: 0 29px;
}

/* roozbeh tab */
section .tab_item {
    padding: 15px 0px 0px 7px;
}

section .tab_item:nth-of-type(1) {
    padding-top: 0px !important;
}

section .tab_item:nth-last-of-type(1) {
    padding-bottom: 0px !important;
}

section .tab_item h4 {
    position: relative;
    padding-right: 25px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;

}

section .tab_item h4::after {
    content: " ";
    position: absolute;
    width: 95%;
    top: 10px;
    left: 0px;
    display: block;
    height: 1px;
    background: #eeeeee;

}

.tab_item h4 span {
    z-index: 999;
    position: relative;
    background-color: #FFFFFF;
}

section .tab_item h4 i {

    background: url(../img/slices.png) no-repeat -258px -610px;
    position: absolute;
    right: 0px;
    width: 31px;
    height: 44px;
    display: block;
    top: -12px;
    right: -21px;
}

section .tab_item h4.active i {

    background: url(../img/slices.png) no-repeat -206px -610px;
    position: absolute;
    right: 0px;
    width: 31px;
    height: 44px;
    display: block;
    top: -12px;
    right: -21px;
}

section .tab_item:nth-of-type(1) h4 i {

    background: url(../img/slices.png) no-repeat -153px -610px;
    position: absolute;
    right: -21px;
    width: 31px;
    height: 56px;
    display: block;
    top: -12px;
}

section .tab_item:nth-of-type(1) h4.active i {

    background: url(../img/slices.png) no-repeat -98px -610px !important;
    position: absolute;
    right: -21px;
    width: 31px;
    height: 56px;
    display: block;
    top: -12px;

}

section .tab_item:nth-last-child(1) h4 i {

    background: url(../img/slices.png) no-repeat -313px -617px;
    position: absolute;
    right: -21px;
    width: 31px;
    height: 56px;
    display: block;
}

section .tab_item:nth-last-child(1) h4.active i {

    background: url(../img/slices.png) no-repeat -206px -610px;
    position: absolute;
    right: -21px;
    width: 31px;
    height: 56px;
    display: block;
}

.item_container {
    margin-right: 0px;
    margin-top: 20px;
    border-right: solid 3px #f0f1f2;
}

.experting {
    display: none;
}

.galary_thumbnail ul li {
    cursor: pointer;
}

.modal-main-image img {
    position: relative;
    max-height: 100% !important;
    width: 90% !important;
}

.modal-main-image {
    position: relative;
    width: 90% !important;
}

.modal-main-image .item {
    display: none;
}

.modal-thumbnail-image {
    height: 400px;
    overflow: auto;

    width: 100% !important;

}

.modal-thumbnail-image img {
    width: 100% !important;
    height: 100% !important;
}

.modal-thumbnail-image ul {
    width: 100% !important;
    padding: 0px;
    /*   border-right: 1px solid #e9ecef;*/
    position: relative;
    right: 26px;

}

.modal-thumbnail-image ul li {
    margin: 2px;
    padding: 10px !important;
    border: 1px solid #e9ecef !important;
    width: 80% !important;
    height: 80% !important;
    cursor: pointer;
    opacity: 0.2 !important;
    /*  position: relative;
      left: 2px;*/

}

.modal-thumbnail-image ul li.active2 {
    opacity: 1 !important;
    margin: 2px;
    padding: 10px !important;
    border: 1px solid #e9ecef !important;
    width: 80% !important;
    height: 80% !important;
    cursor: pointer;
    background-color: #FFFFFF;
}

.edit i {
    color: #000 !important;
}

.user_right_widget {
    position: static;
}

.panel_right_baner {
    width: 100%;
    cursor: pointer;
    display: block;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid rgba(3, 10, 22, .02);
    overflow: hidden;
}

.panel_right_baner img {
    width: 100%;
    cursor: pointer;
    display: block;
}

.user_right_panel {
    padding: 10px;
}

.user_right_widget {
    border-radius: 20px;
}

.user_left_widget {
    border-radius: 20px;

}

.table_user i {
    position: relative;
    top: 10%;
}

.table_user span {
    font-size: 0.8rem !important;
    color: #6f6f6f !important;;
}

.table_user p {
    font-size: 0.9rem !important;
    margin: 0px !important;;
    padding: 0px !important;;
}

.customer_order > table tr:first-child {
    color: #000;
    font-size: 14px;

}

.customer_order > table tr {
    color: #000;
    font-size: 14px;

}

.customer_order > table tr:first-child td {
    padding: 5px !important;
    text-align: center;
}

.customer_order > table tr td {
    /*padding: 5px !important;*/
    text-align: center;
}

.customer_order > table tr:nth-child(odd) {
    background-color: #dddddd;

}

/*.customer_order > table tr:nth-child(odd) td{
    border-left: solid 0.5px #5a6268;
}*/

.customer_order > table {
    border: solid 0.5px #5a6268;
}

.customer_order > table i {
    cursor: pointer;
    font-size: 20px;
}

.sub_table1 > table {
    border-left: solid 0.5px #5a6268;
    width: 100% !important;
}

.sub_table1 > table tr:nth-child(odd) {
    background-color: #dddddd;
}

.sub_table1 > table {
    background-color: #FFFFFF;
}

tr.details_table td .step_order {
    background-color: #FFFFFF;
}

.sub_table1 > table tr:first-child {
    background-color: #373737 !important;
    color: #00a6b2;
}

tr.details_table td div.sub_table1 {
    background-color: #FFFFFF !important;
}

/*step order */

.step_order ul li {
    position: relative;
    width: 180px;
    height: 1px;

}

.step_order .dash span {
    width: 11px;
    height: 3px;
    display: inline-block;
    background-color: blue;
    margin-left: 5px;
}

.step_order .dash {
    position: absolute;
    top: 8px;
    left: 0px;
}

.step_order .dash_end span {
    width: 11px;
    height: 3px;
    display: inline-block;
    background-color: blue;
    margin-left: 5px;
}

.step_order ul li .dash_end {
    position: absolute;
    top: 5px;
    left: 43px;
}

.step_order span.circle {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: solid 2px #5a6268;
    position: absolute;
}

.step_order span.circle.active::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    color: #4a4a4a;
    position: absolute;
    top: 1px;
    left: -2px;
    width: 40px;
    height: 40px;
    display: block;
    font-size: 24px;
    font-weight: 800 !important;
}

.step_order span.line {
    display: block;
    width: 128px;
    height: 3px;
    cursor: pointer;
    background-color: blue;
    position: absolute;
    right: 44px;
    top: 15px;
}

.step_order2 div.line {
    display: block;
    width: 128px;
    height: 3px;
    cursor: pointer;
    background-color: blue;
}

.step_order2 div.circle {
    display: block;
    width: 40px !important;
    height: 40px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: solid 2px #5a6268;
}

.step_order span.title {
    position: absolute !important;
    top: 43px !important;
    right: -12px !important;
    display: block;
}

.mytab {

    padding: 9px;
    cursor: pointer;
}

.tabs-colors {
    background-color: #f4f6f6;
}

.tab_btn.active {
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-top: solid 2px #0a53be;
}

.tab_btn {
    border-left: solid 1px #e1e1e1;
}

#tab_child section {
}

.details_table {
    display: none;
}

td i.fa-angle-down {
    cursor: pointer;
}

.customer_order .customer_order_i i:after {
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    color: #4a4a4a;
    font-weight: 700 !important;
    position: relative;
    left: -4px;
    color: #636e72;
}

.customer_order .customer_order_i i.active:after {
    content: "\f106";
    font-family: "Font Awesome 5 Pro";
    color: #4a4a4a;
    font-weight: 700 !important;
    position: relative;
    left: -4px;
    color: #636e72;
}

.whishlist i.edit {
    position: relative;
    left: 3px;
    top: 2%;

}

.whishlist i.savebtn {
    position: relative;
    left: 3px;
    top: 2%;

}

.whishlist ul li {
    cursor: pointer;
}

.whishlist ul li:hover {
    cursor: pointer;
    background-color: #FFFFFF;
}

.whishlist ul {
    background-color: #f8f5f5;
}

.whishlist ul li .edit {
    display: none;
}

.comment_panel table {
    border-collapse: collapse;
}

.comment_panel table i {
    cursor: pointer;
}

.comment_panel table th {
    border: 1px solid #ddd;
    text-align: center;
    background-color: #373737 !important;
    color: #00a6b2;
    font-size: 14px;
    font-weight: normal;
}

.comment_panel table tr:nth-child(even) {
    background-color: #f2f2f2;
    text-align: center;
}

.comment_panel table tr:nth-child(odd) {
    background-color: #f2f2f2;
    text-align: center;
}

.comment_panel table tr:hover {
    background-color: #ddd;

}

.bon_btn span {
    color: #FFFFFF;
    text-align: left;
}

.my_btn {
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
}

.my_btn i {
    color: #FFFFFF;
    text-align: center;
}

.my_btn span {
    color: #FFFFFF;
    text-align: center;
}

.bon_btn i {
    color: #FFFFFF;
    text-align: right;

}

.digibon table tr td i:after {
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    color: #4a4a4a;
    font-weight: 700 !important;
    position: relative;
    left: -4px;
    color: #636e72;
}

.digibon tr td i.active:after {
    content: "\f106";
    font-family: "Font Awesome 5 Pro";
    color: #4a4a4a;
    font-weight: 700 !important;
    position: relative;
    left: -4px;
    color: #636e72;
}

.btn-green {
    background-color: #006400 !important;
}

.my_card td {
    border: 0.5px #5a6268 solid;
}

.total_price {
    border: 1px solid #34ce57;
}

.total_price span {
    color: #34ce57;
}

.total_discount {
    border: 1px solid #c00000;
}

.total_discount span {
    color: #c00000;
}

.btn-gray {
    background-color: #5a6268;
    color: #FFFFFF;
}

.cart_page span{
    color: #fff;
}

.card_shop {
    text-align: left;
}

.card_buy div i {
    color: #FFFFFF;
}

.my_card button {
    font-size: 12px;
}

.my_card button i {
    color: #FFFFFF;
}

.card_buy div button {
    font-size: 12px;
}

.step_order2 .row .line {
    position: relative;
    top: -8px;
}

.step_order2 .row span {

    font-size: 13px;
}



.discountInputeSuccess::before{
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    color: #0f5132;
    position: absolute;
    top: 4px;
    right: 8px;
    font-weight: 800 !important;
    font-size: 19px;
}

.discountInputefaild::after{
    content: "\f06a";
    font-family: "Font Awesome 5 Pro";
    color: #c00000;
    position: absolute;
    top: 4px;
    right: 8px;
    font-weight: 800 !important;
    font-size: 19px;
}

.discount_Success{
    box-shadow: 0px 0px 0px 2px green;
}

.discount_faild{
    box-shadow: 0px 0px 0px 2px red;
}


.discount_msg{
position: relative;
    top: 7px;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 956px) {

    .step_order2 .row .line {
        /* display: none !important;*/
        width: 100% !important;
    }

    .step_order2 .row span {
        width: max-content !important;
        font-size: 12px;
    }

}

.step_order2 .circle.active_check::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    color: #000;
    position: absolute;
    top: 4px;
    right: 8px;
    width: 20px;
    height: 20px;
    display: block;
    font-weight: 800 !important;
    font-size: 19px;
}


.active_post::before {
    content: "\f058";
    font-family: "Font Awesome 5 Pro";
    color: green;
    position: absolute;
    top: -8px;
    right: -1px;
    display: block;
    font-weight: 800 !important;
    font-size: 25px;
    position: absolute;

}

.triangle-topright {
position: absolute;
    top: 0px;
    width: 0 !important;
    height: 0 !important;
    border-top: 35px solid lightblue !important;
    border-left: 35px solid transparent !important;
}

.choosen_post{
    color: grey;
    width: 20px;
    height: 20px;
    border: solid 1px;
    border-radius: 50%;
    cursor: pointer;
    right: 8px;
}

.td_width{

    table-layout:fixed
}




.my_span_card {
    font-size: 13px;
}

.cart3_table table td {
     border: 1px solid #5a6268;
    /*border-right: 2px solid dodgerblue!important*/
 }

.cart3_table table tr td i,span {
   color:grey ;
}



.cart3_table table tr td.selectPost {
    width: 10px !important;
}

.cart3_table table tr td.td_width {
     table-layout: fixed;
     width: 180px;
    text-align: center !important;
    justify-content: center !important;
    padding: 15px;
 }

.cart3_table table tr td.td_width div {
    display: inline;
    padding: 7px;
    background-color: #f4f4f4;
    border-radius: 10%;
    font-size: 13px;
}


.cart3_table table tr td.full_address {
    table-layout: fixed;
    height: 45px !important;
    padding: 5px;

}

.cart3_table table tr td  .post_edit {
    color: grey !important;
    cursor: pointer !important;

}






.cart3_table .edit {
    position: relative;
    top: -13px;
    text-align: center;
    font-size: 12px;
}

.cart3_table .cross {
    position: relative;
    top: 13px;
    text-align: center;
    font-size: 12px;

}

.cart3_table span.circle {
    display: inline-block;
 /*   width: 20px;
    height: 20px;*/
    cursor: pointer;
    background-color: #0a53be;
}



/* post_type*/

.post_type tr{
    border: solid 1px !important;
}

.active_post_type::before {
    content: "\f2f8";
    font-family: "Font Awesome 5 Pro";
    color: dodgerblue;
    position: absolute;
    top: -8px;
    right: -1px;
    display: block;
    font-weight: 800 !important;
    font-size: 22px;
    position: absolute;

}

.cart3_table2 span.circle {
    display: inline-block;
    /*width: 20px;
    height: 20px;*/
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 37%;
    background-color: #0a53be;
}

.cart3_table2 table td {
    border: 1px solid #5a6268;
}

.cart3_table2 table tr {
    border-right: 1px solid #5a6268;
}


.cart3_table2 table tr td:first-child{
    width: 40px !important;
}

.cart3_table2 table tr td i{
   font-size: 23px !important;
    padding: 5px;
}

.final-basket-product{
    background-color:#0b5ed7 ;
    border-radius: 10px;
    max-width: 250px;
}

.final-basket-price{
    background-color:#c00000 ;
    border-radius: 10px;
    max-width: 250px;
}

.post_type_price {
    border: 1px solid #000;

}

.post_type_price span {

    color: #fff;
    border-radius: 10%;
    font-size: 16px;
}

/* End post_type*/

.discount span{
    color: #c00000;
}

.discountTotal{
    color: #c00000;
    font-size: 11px;
margin: 3px;
}

.send_address span{
    font-size: 16px;
    padding: 2px;
}

.my_shiping .price div:nth-child(2n) {
    color: green;
}

.alloweb_post .modal-dialog {
    max-width: 70% !important;
}

@media screen and (max-width: 770px) {

    .my_btn2 {
        margin: 10px;
    }

}

.single-product_timer {
    position: absolute !important;
    top: 20px !important;
    left: 200px !important;

}

.root-timer {
    position: absolute;
    top: 10px !important;
    left: 10px !important;;
}

.var_dump_show font {
    display: block !important;
    direction: rtl !important;
}

.var_dump_show {
    display: block !important;
    direction: rtl !important;
}

/* admin panel*/

.my_admin {
    background-color: #eceff1 !important;
    color: #000 !important;
}

.tag-admin-select {
    position: relative !important;

}

.tag-admin-select span {
  font-size: 11pt;


}

.color span{
    width: 70px !important;
}

.tag-admin-select i {
    position: absolute !important;
    left: -6px;
    top: -4px;
    font-size: 10pt;
    cursor: pointer;
}

.Basket_content  ul li span{
   text-align: right !important;
    margin-right: 1rem;

}

.col_basket2{
    position: relative !important;
}

.Basket_content{
     text-align: center !important;
     position: absolute;
     left: 0px;
     top: 40px;
     z-index: 100;
 }

.Basket_content::before{
    display: inline-block;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #c00000;
    left: 64px;
    top: -6px;
    z-index: 99;
}

.Basket_content::after{
    content: "";
    position: absolute;
    height: 3px;
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0px;
    background-color: #c00000;
}

.Icon_basket{
    /*text-align: center !important;*/
    /*position: absolute;*/
    /*left: 0px;*/
    /*bottom: 0px;*/
    /*z-index: 99;*/
}

.Icon_basket span{
    background-color: #c00000;
    color: #fff;
    width: 19px;
    height: 19px;
    line-height: 23px;
    float: left;
    text-align: center;
    border-radius: 50%;
    font-size: 13px;
    top: 2px;
    left: -8px;
    transition: all .5s;
    -webkit-transition: all .5s;
    z-index: 99;
    position: relative;
}
.color_basket{
    background-color: #00a6b2;
    width: 15px !important;
    height: 15px !important;
    display: inline-block;
    cursor: pointer;
    text-align: right !important;
    z-index: 99;
}

li.list-inline-item {
    text-align: right;
}
.Basket_content  ul{
   border-top:  1px #dadada  solid !important;
    margin-bottom: 10px;
    padding-top: 13px !important;
    z-index: 99;
}

.Basket_content  ul li span{
  color: #000000;
}

.basket_button{
    border-radius: 3px;
    padding: 10px;
    font-size: 12px;
    z-index: 99;
}

.Basket_content{
    height: 400px;
    overflow: auto;
}
/*
.input_order{
    scale:0.8 !important;
}*/

.activeProduct{
    background-color: #fff !important;
    border-top: 5px solid #00bfd6 !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.edit_hidden{
    display: none !important;
}
.edit_show{
    display: block !important;
}

.deleteFav{
    cursor: pointer !important;
}

.pointofview{
    border: solid 1px #eee ;
    border-radius: 20px;
}

ul.rating .single-slider{
    margin-bottom: 30px !important;
}

.mycursor{
    cursor: pointer;
}


.pass_error {
    position: absolute;
    left:40%;
    top:30%;
    width: 30%;
    margin: 1rem;
    border: 1px solid #c00000;
}

.pass_success{
    position: absolute;
    left:40%;
    top:30%;
    width: 30%;
    margin: 1rem;
    border: 1px solid green;
}



.attr-remove i{
    position: absolute !important;
    left: 13px !important;
    top: 1px !important;
    font-size: 12px;
    background-color: #c00000;
    color: #ffffff;
    padding: 3px;
   border-radius: 5px;
    cursor: pointer;
}

li.active_pagination{
    background-color: yellow !important;
    color: #c00000 !important;
}

li.active_pagination a{
    background-color: yellow !important;
    color: #c00000 !important;
}


.pagination .page-item{
    cursor: pointer !important;
}

#pagination li{
    cursor: pointer;
}

.product_admin_filed_style{
    width: 65%;
    /*
    border-bottom: 1px solid red !important;
    */
}